doctype html
html
  head
    meta(charset='UTF-8')
    title Particules
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/canvas.js')
    script(src='javascripts/Particule.js')
    script(src='javascripts/field.js')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .pure-g
      .pure-u-21-24
        canvas#mon_canvas(width='1240', height='640')
          | Message pour les navigateurs ne supportant pas encore canvas.
      .pure-u-3-24
        .pure-menu.custom-restricted-width
          span.pure-menu-heading Add particule
          ul.pure-menu-list
            li.pure-menu-item
              a.pure-menu-link(href='#') P+
            li.pure-menu-item
              a.pure-menu-link(href='#') P-
