doctype html
html
  head
    meta(charset='UTF-8')
    title Particules
    script(src='javascripts/Particule.js')
    script(src='javascripts/field.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    canvas#mon_canvas(width='1340', height='640')
      | Message pour les navigateurs ne supportant pas encore canvas.
